<div class='container'>
	{{! view Liquidibles.HeaderView }}
	<div class='row'>
		<div class='span12' style='margin-bottom:50px;'>
			{{outlet}}
		</div>
	</div>
	{{view Liquidibles.FooterView}}
</div>