<footer class="footer">
	<nav>
	  <ul>
	    <li>{{#linkTo 'about' }}<i class="icon-book icon-white"></i>About{{/linkTo}} </li>
	    <li>{{#linkTo 'contact' }}<i class="icon-pencil icon-white"></i>Contact{{/linkTo}} </li>
	    <li>{{#linkTo 'news' }}<i class="icon-bullhorn icon-white"></i>News{{/linkTo}} </li>
	    <li style='margin-right:20px;'>{{#linkTo 'developer' }}<i class="icon-user icon-white"></i>Developers{{/linkTo}} </li>
	  </ul>
	</nav>
</footer>