<footer class="footer" style='margin-bottom:35px;'>
	<nav>
	  <ul>
	    <li>{{#linkTo 'about' }}<i class="icon-home icon-white"></i> About{{/linkTo}} </li>
	    <li>{{#linkTo 'contact' }}<i class="icon-home icon-white"></i> Contact{{/linkTo}} </li>
	    <li>{{#linkTo 'news' }}<i class="icon-home icon-white"></i> News{{/linkTo}} </li>
	    <li>{{#linkTo 'developer' }}<i class="icon-home icon-white"></i> Developers{{/linkTo}} </li>
	  </ul>
	</nav>
</footer>