<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" id="logo">liquidibles</a>
      <nav>
        <ul class="nav pull-left">
          <li>{{#linkTo 'items'}}View Items{{/linkTo}}</li>
          <li><a href="#">To Do Want</a></li>
          <li><a href="#">Example</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/#">Help</a></li>
          <li class="dropdown" id="fat-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Account
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </li>
          <li><a href="#" data-method="delete" rel="nofollow">Sign out</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>