<div class="row-fluid">
  <div class="span3" style="text-align:right">
    {{view.content.prop_name}}
  </div>
  <div class="span9">
    <div class="row-fluid">
      <div class="span6">
      	{{view Ember.TextField classBinding="input-small" idBinding='view.content.min'  valueBinding="view.content.min"}} 
      </div>
      <div class="span6">
      	{{view Ember.TextField classBinding="input-small" idBinding='view.content.max'  valueBinding="view.content.max"}} 
      </div>
    </div>
  </div>
</div>