<div class="row" style="margin-left:50px;">
  <div id="demo1" class="col-md-8 pull-left" ></div>
  {{view Liquidibles.ContainerView elementId="my_container_view"}}
</div>

{{#linkTo 'index'}}Home{{/linkTo}}
{{#linkTo 'items'}}Items{{/linkTo}}
