<div style="margin-left:50px;">
	<h1>My {{content.name}}</h1>
	<br/>
	{{content.self_and_ancestors}}
	<br/>
	<br/>
	<br/>
	<div class="pull-left text-right">
		{{#each item in key_arrays}}
			<div>{{item}}</div>
		{{/each}}
	</div>
	<div class="text-left" style="float:left;margin-left:10px;">
		{{#each item in value_arrays}}
			<div>{{item}}</div>
		{{/each}}
	</div>
	<br/>
	<br/>

	<div style="clear:both;">
		{{#linkTo 'index'}}Home{{/linkTo}} |
		{{#linkTo 'items'}}Items{{/linkTo}} |
		{{#linkTo 'item_types'}}Item Types{{/linkTo}}
	</div>
</div>